:root {
    --income-color: rgb(21, 152, 21);
    --expense-color: #e63946;
    --form--backgroundc-color: #1d3557;
    --balance--backgroundc-color: rgb(83, 165, 227);
    --text-color: #f1faee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.budget {
    display: flex;

}
.budget__section{
    min-height: 100vh;
    background-color: var(--form--backgroundc-color);
}
.budget__form {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
   
}

.form__input {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: var(--text-color);
    border: none;
    font-size: 1.5rem;
    display: block;
}

.form__button {
    border: none;flex-direction: column;
    height: 4rem; 
    padding: 0 2rem;
    margin-top: 1.6rem;
    background-color: var(--balance--backgroundc-color);
    color: var(--text-color);
    line-height: 1;

}

.budget__wrapper {
    display: flex;
    background-color: var(--balance--backgroundc-color);
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}
.budget__balance{
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 0;
    min-height: 50vh;
    align-items: center;
    width: 50rem;

}
.box{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.box img{
    width: 6rem;
    height: 6rem;
    text-align: center;
    padding: 1rem;
}

.title{
    padding: 1.5rem;
}
.info{
    padding: 1rem;
}
.expense__list{
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    padding: 3rem;

}
.expense__info{
    padding: 1rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    
}
