:root {
    --income-color: rgb(21, 152, 21);
    --expense-color: #e63946;
    --form--backgroundc-color: #1d3557;
    --balance--backgroundc-color: rgb(192, 144, 47);
    --text-color: #f1faee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: var(--balance--backgroundc-color);
    text-align: center;
}

.header {
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 70vh;
    margin: min(5vh, 3rem) 0;
}

.incomeForm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  flex-direction: column;
} 

h2 {
    margin: min(5vh, 3rem) 0;
}
button{
    padding: .6rem;
    background-color: rgb(74, 46, 255);
    border: none;
    border-radius: 50%;
    color: var(--text-color);
    margin-left: 1rem;
}
input{
    padding: .8rem;
    border-radius: .3rem;
    border: none;
    width: 20rem;
}

.remove{
    background-color: #e63946;
    border-radius: 0;
}
.edit{
    background-color: #F2EFEB;
    color: #260801;
    border: none;
    border-radius: 0;
}
/* .incomeResult{
 position: sticky;
 top:20vh;
 left: -30rem;
 font-size: 2rem;
} */
.expenseResult{
color: #F2EFEB;
}
.results{
width: 10rem;
height: 2rem;
background-color: #260801;
color:#F2EFEB ;
position:relative;
top: 40rem;
left: -50rem;
}
.remove,
.edit{
    padding: 1rem;
}